.homepage {
    /*margin:100px;*/
    background: url("/photos/angsty_ocean.jpg") no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
 	 background-size: cover;
 	 min-height: 2000px;
 	 color:white;
}

.name {
	padding-top: 15%;
	margin: auto;
	text-align: center;
	width:50%;
}

.me {
	-webkit-animation-duration: 5s;
}

.p1 {
	display:inline-block;
	padding-right:10px;
	-webkit-animation-duration: 3s;
	-webkit-animation-delay:3s;
}

.div1 {
	display:inline-block;
	-webkit-animation-duration: 3s;
	-webkit-animation-delay:3.25s;
}

.p2 {
	display:inline-block;
	padding-right:10px;
	padding-left:10px;
	-webkit-animation-duration: 3s;
	-webkit-animation-delay:3.5s;
}

.div2 {
	display:inline-block;
	-webkit-animation-duration: 3s;
	-webkit-animation-delay:3.75s;
}

.p3 {
	display:inline-block;
	padding-left:10px;
	-webkit-animation-duration: 3s;
	-webkit-animation-delay:4s;
}